# Git
.git
.gitignore
.gitattributes

CLAUDE.md
.claude/

# IDE
.idea/
.vscode/

# Секреты
.env

# Артефакты сборки и тестов
bin/
*.exe
*.test
*.out
cover.out
coverage.html

# Прочее
README.md
LICENSE
k8s/
